body {
  background: #aaa;
  color: #222;
}

* {
  box-sizing: border-box;
  transition: var(--hover-transition);
}

.ios-frame {
  width: var(--display-width);
  height: var(--display-height);
  padding-top: var(--status-bar-height);
  padding-bottom: var(--home-bar-height);
  border-radius: var(--display-corner-radius);
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0 10px #444;
  margin: 20px;
}

.iphone-13-pro {
  --display-width: 390px;
  --display-height: 844px;
  --status-bar-height: 47px;
}

.ios-base {
  --navbar-height: 44px;
  --searchbar-height: 44px;
  --tabbar-height: 44px;
  --toolbar-height: 44px;
  --home-bar-height: 34px;
  --display-corner-radius: 40px;
  --bar-backdrop-filter: blur(8px);
  --button-size: 44px;
  --input-size: 32px;
  --bar-font-size: 17px;
  --bar-icon-font-size: 24px;
  --hover-transition: 0.05s ease-out;
  --panel-bg: #eee;
  --background: #fff;
  --input-bg: #eee;
  --background-translucent: #fffb;
  --text-color: #333;
  --subtle-tint-bg: #3332;
  --input-text-color: #222;
  --tinted: #d5e7fb;
  --gray: #e5e5e6;
  --button-color: rgb(162,162,162);
  --accent-color: rgb(97, 167, 241);
  --button-hover-shadow: 0 0 0 1px var(--text-color),
                         inset 0 0 0 1px var(--text-color);
  --button-active-shadow: 0 0 0 2px var(--text-color),
                          inset 0 0 0 2px var(--text-color);
  --button-corner-radius: 16px;
  --input-corner-radius: 4px;
  --content-padding: 20px;
  --font-size: 16px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--font-size);
  background: var(--background);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  .ios-base {
    --panel-bg: #333f;
    --background: #222f;
    --background-translucent: #222b;
    --input-bg: #333;
    --text-color: #ddd;
    --subtle-tint-bg: #ddd2;
    --input-text-color: #e8e8e8;
    --tinted: #2e4661;
    --gray: #747474;
    --button-color: rgb(131, 131, 131);
    --accent-color: rgb(24, 106, 194);
  }
}

.content {
  overflow-y: scroll;
  overflow-y: overlay;
  width: 100%;
  flex: 1 1 100px;
  padding: var(--navbar-height) 0 var(--tabbar-height);
}

.content > * {
  padding: calc(var(--content-padding) * 0.25) var(--content-padding);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--background);
}

.panel {
  /* padding: calc(0.5 * var(--content-padding)) var(--content-padding); */
  padding: 0;
  background: var(--panel-bg);
  border: 1px solid var(--subtle-tint-bg);
  border-width: 1px 0;
}

.panel h3 {
  padding: 0 var(--content-padding);
  font-weight: normal;
  text-transform: uppercase;
  font-size: 80%;
  opacity: 0.75;
  line-height: 34px;
  margin: 10px 0 0 0;
}

.elastic {
  flex: 1 1 auto;
}

header,
footer {
  height: var(--navbar-height);
  backdrop-filter: var(--bar-backdrop-filter);
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
}

.content > blockquote {
  margin: 0;
  padding: calc(var(--content-padding) * 0.5) calc(2 * var(--content-padding));
}

header,
footer,
header *,
footer * {
  font-size: var(--bar-font-size);
}

header h1 {
  font-weight: 600;
}

header {
  top: var(--status-bar-height);
  background: linear-gradient(180deg, var(--background) 0%, var(--background-translucent) 100%);
  padding: 0 4px;
}

footer {
  bottom: var(--home-bar-height);
  background: linear-gradient(0deg, var(--background) 0%, var(--background-translucent) 100%);
  padding: 0 4px;
}

header button,
footer button {
  background: transparent;
  border: none;
  min-width: var(--button-size);
  height: var(--button-size);
  font-size: var(--bar-icon-font-size);
}

header button,
footer button {
  color: var(--button-color);
}

header button,
footer button.current {
  color: var(--accent-color);
}

footer button {
  flex: 1 1 var(--button-size);
}

hr {
  border: none;
  flex: 1 1 1px;
}

label {
  display: flex;
  flex-direction: column;
}

label.row {
  padding: 0 var(--content-padding);
  height: 44px;
}

label.row+label.row {
  border-top: 1px solid var(--subtle-tint-bg);
}

.switch {
  border-radius: 14px;
  height: 28px;
  width: 48px;
  margin: 8px 0;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.switch > input+span {
  width: 48px;
  height: 28px;
  display: block;
  position: relative;
  transition: 0.1s ease-out;
  background: var(--panel-bg);
}

.switch > input:checked+span {
  background: var(--accent-color);
}

:not(.switch) > input[type="checkbox"]+span,
:not(.switch) > input[type="radio"]+span {
  content: ' ';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 10px 10px 10px 0;
  background: var(--background);
  box-shadow: inset 0 0 0 2px var(--subtle-tint-bg);
}

:not(.switch) > input[type="checkbox"]+span {
  transition: 0.1s ease-out;
  border-radius: 3px;
  padding: 4px;
}

:not(.switch) > input[type="checkbox"]:checked+span {
  box-shadow: inset 0 0 0 2px var(--accent-color);
}

input[type="checkbox"]+span::before {
  transition: 0.1s ease-out;
  color: var(--accent-color);
  opacity: 0;
}

input[type="checkbox"]:checked+span::before {
  opacity: 1;
}

:not(.switch) > input[type="radio"]+span {
  border-radius: 12px;
}

:not(.switch) > input[type="radio"]:checked+span {
  box-shadow: inset 0 0 0 7px var(--accent-color);
}

.switch > input+span::after {
  content: ' ';
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  left: 0;
  top: 0;
  transition: 0.1s ease-out;
  background: var(--panel-bg);
  box-shadow: inset 0 0 0 2px var(--subtle-tint-bg);
}

.switch > input:checked+span::after {
  left: 20px;
}

.switch > input,
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.row > span {
  text-align: left;
}

label > span {
  text-align: center;
}

nav {
  display: flex;
  height: var(--button-size);
  margin: calc(var(--button-size) * 0.25) 0;
}

.stack {
  height: auto;
  flex-direction: column;
}

nav:not(.stack) > * + * {
  margin-left: calc(var(--button-size) * 0.25);
}

nav.stack > * + * {
  margin-top: calc(var(--button-size) * 0.25);
}

button {
  color: var(--text-color);
  background: var(--background);
  height: var(--button-size);
  line-height: var(--button-size);
  border: none;
  border-radius: var(--button-corner-radius);
  padding: 0 calc(var(--button-size) * 0.4);
  transform: scale(1);
}

button:not(.current):enabled:hover {
  box-shadow: var(--button-hover-shadow);
}

button:not(.current):enabled:active {
  box-shadow: var(--button-active-shadow);
}

.medium {
  --button-size: 32px;
}

.small {
  --button-size: 24px;
  --input-size: 24px;
  font-size: 80%;
}

.gray {
  background: var(--gray);
}

.tinted {
  background: var(--tinted);
}

.filled {
  color: var(--text-color);
  background: var(--accent-color);
}

:disabled {
  opacity: 0.6;
}

select,
input {
  color: var(--input-text-color);
  background: var(--input-bg);
  height: var(--input-size);
  line-height: var(--input-size);
  margin: calc(var(--button-size) * 0.5 - var(--input-size) * 0.5) 0;
  padding: 0 calc(var(--input-size) * 0.4);
  border: 0;
  box-shadow: 0 0 0 1px #0004, inset 0 1px 1px #0004;
  border-radius: var(--input-corner-radius);
}

input[type="search"] {
  border-radius: calc(var(--input-size) * 0.5);
  flex: 1 1 auto;
}

:focus {
  outline: none;
}

.page-controls {
  justify-content: center;
}

.page-controls input {
  appearance: none;
  border: none;
  box-shadow: none;
  background: var(--accent-color);
  margin: 0 calc(var(--button-size) * 0.1);
  width: calc(var(--button-size) * 0.2);
  height: calc(var(--button-size) * 0.2);
  border-radius: 99px;
  opacity: 0.25;
}

.page-controls input:not(:checked):enabled:hover {
  opacity: 0.5;
}

.page-controls input:checked {
  opacity: 1;
}

.page-controls input:disabled {
  background: transparent;
  box-shadow: inset 0 0 0 1px var(--accent-color);
}

input::-webkit-calendar-picker-indicator {
  transform: translate(14px,-8px);
}

::-webkit-scrollbar {
  width: 20px;
}
 
::-webkit-scrollbar-track {
  background: none;
}
 
::-webkit-scrollbar-thumb {
  background: transparent;
  border-right: 5px solid var(--tinted);
}

::-webkit-scrollbar-thumb:hover {
  border-right: 10px solid var(--tinted);
}